extends layout

block content
	.jumbotron
		//- form.form-horizontal.text-center#registerForm(action="", method="post", role="form")
		//- 	.form-group
		//- 		label.col-form-label(for="userName") Name
		//- 		.col-sm-8.offset-sm-2
		//- 			input.form-control#name(type="text", placeholder="John Smith", name="name");
		form.form-horizontal.text-center#registerForm
			.form-group
				label.col-form-label(for="userName") Name
				.col-sm-8.offset-sm-2
					input.form-control#username
			.form-group
				label.col-form-label(for="email") Email
		//- h1 Hello world!